* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* styling */

html, body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6em;
}

h1, h2, h3 {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  /* list-style:none; */
}

/* Class utilites */

.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

.text-main {
  color: rgb(63, 145, 43);
}

.clr {
  clear: both;
}

/* navbar */

#navbar {

  background: #333;
  color: #fff;
  overflow: auto;
}

#navbar a {
  color: green;
}

#navbar h1 {
 float: left;
 padding-top: 20px;
}


#navbar ul {
list-style: none;
float: right;  
  
}

#navbar ul li {
  /* display: block; */
  float: left;
}

#navbar ul li a {
display: block; 
 padding: 20px;
 text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  color:mediumspringgreen;
  background: #444;
}

/* showcase */

#showcase {
  background: url('../img/gym.jpg') no-repeat center center/cover;
  height: 700px;
  color: rgb(206, 156, 156);
  text-align: center;
  padding-top:170px
}

#showcase h1 {
  font-size: 70px;
  line-height: 1.4em;
} 

#showcase p {
  padding-bottom: 20px;
  line-height: 1.7em;
  font-size: 20px;
}

#showcase a {
  display: inline-block;
  background: #333;
  color:#fff;
  font-size: 18px;
  padding: 13px 20px;
  border: none;
  border-radius: 10px;
}

#showcase a:hover {
  color: #444;
  background: lightsalmon;
}

/* Gym history */

#history {
  height: 400px;
  background: #333;
  color: #fff;
  
}

#history .history-img {
float: left;
background: url('../img/GymBuilding.jpg') no-repeat center center/cover;
width: 50%;
min-height: 100%;
}

#history .history-cont {
 
  float: right;
  text-align: center;
  
  width: 50%;
  height: 100%;
  padding: 70px 40px;
  overflow: hidden;
}

#history .history-cont a {
  background: #fff;
  color: #333;
  font-size: 18px;
  display: inline-block;
  border-radius: 10px;
  margin-top: 15px;
  padding:13px 20px
}

#history .history-cont a:hover {
  background: lightsalmon;
}

#history .history-cont p {
  padding-bottom: 30px;
}

/* What we have */
#we-have i {
  margin-bottom: 15px;
}

#we-have .fit-class {
  background: #fff;
  float: left;
  color: #444;
  text-align: center;
  width: 33.3%;
  padding:50px;
  min-height: 100%;
}


#we-have .cool-stuff {
  background:rgb(206, 156, 156);;
  color: #444;
  float: left;
  text-align: center;
  width: 33.3%;
  padding: 50px;
}

#we-have .membership {
  background: #fff;
  color: #444;
  float: left;
  text-align: center;
  width: 33.3%;
  padding: 50px;
}

/* About main */

#about-main {
  background: rgb(190, 181, 181);
  color: #333;
}

#about-main .about-left {
  float: left;
  width: 50%;
  min-height: 100%;
  padding:20px 0;
}

#about-main .about-left h1 {
  font-size: 40px;
  /* margin:40px; */
}

#about-main .about-left p {
  /* margin: 12px 0; */
  padding: 12px 0;
}

#about-main .about-right {
  float: right;
  width: 50%;
  min-height: 100%;
  padding: 20px 0;
}

#about-main .about-right img {
  display: block;
  margin: auto;
  width: 80%;
  border-radius: 50%;
}

/* Reviews */

#reviews {

  background: url('../img/Gym_Entry.jpg') no-repeat center center/cover;
  /* width: 100%; */
  /* min-height: 100%; */
  /* text-align: center; */
  height: 600px;
  padding-top: 100px;
}

#reviews .member {
  padding: 20px;
  margin-bottom: 40px;
  /* border-radius: 20px; */
  opacity: 0.9;

}

#reviews h1 {
  padding: 20px;
  color: #fff;
  font-size: 40px;
  text-align: center;
}

#reviews p {
  background: rgb(190, 181, 181);
  color: rgb(12, 109, 9);
  padding:25px ;
  border-radius: 18px;
}

#reviews img {
  float: left;
  width: 80px;
  margin-right: 20px;
  padding: 5px;
  border-radius: 50%;

}

/* Contact */

/* form section */

  #form {
    /* margin: 40px; */
    padding:30px 0;
    
  }

  #form h1 {
    font-size: 35px;
  }


/* Footer */

#footer {
  background: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}